/* There are some api images links tht is take by this url("https://awik.io/generate-random-images-unsplash-without-using-api/")--------
1. https://source.unsplash.com/random
2. https://source.unsplash.com/user/wsanter
3. https://source.unsplash.com/random/?city,night
4. https://source.unsplash.com/random/900×700/?fruit

*/
/* @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 25px;
    user-select: none;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:radial-gradient(  rgba(241, 131, 6, 0.779) 28%, rgba(255, 255, 255, 0.763) 20% ,rgba(57, 55, 55, 0.87)) ;
     /* background-image: url(https://source.unsplash.com/random) ; */
background-repeat: no-repeat; 
/* background-size: cover;  */
}

.text {
    /* border-bottom: 1px solid red; */
    text-shadow: 0px 0px 1px rgba(255, 0, 0, 0.702);
    /* display: block;
    margin: auto; */
    text-align: center;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(108, 238, 249, 0.927608543417367) 35%, rgba(0, 212, 255, 1) 100%);
}

.text h1 {
    font-size: 45px;
    font-variant-caps: all-small-caps;
}

.container {
    /* background-color: #e6e6e6; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    /* flex-direction: column; */
    /* width: 35%; */
    /* height: 100%; */
    box-sizing: border-box;
    box-shadow: 0px 0px 15px 0px #202020;
    margin: 3% 30%;
    border-radius: 5px;
    display: grid;
    grid-template-areas:
        'header header  '
        'main main main'
        'main main main'
        'main main main'
        'main main main'
        'main main main'

        'footer footer footer ';
    gap: 8px;
    background-color: #e6e6e6;
    padding: 12px;

}


.output {
    background-color: rgb(171, 219, 231);
    box-shadow: 0px 0px 3px 0px black;
    padding: 5px;

}

.output input {
    /* color: red; */
    /* padding: 18px 10px; */
    padding: 0.5rem;
    width: 100%;
    background-color: #fff;
    height: 100%;
    pointer-events: none;
    text-align: right;
    margin-bottom: 3px;
    outline: none;
    font-size: 2rem;
    box-shadow: inset 3px 3px 8px 0px rgba(34, 33, 33, 0.708),
        inset -3px -3px 8px 0px rgba(233, 224, 224, 0.674);
}



.sub-container {
    display: flex;
    /* width: 10%; */
}

button {
    border: none;
    font-weight: 600;
    padding-left: 51%;
    font-size: 20px;
    box-shadow: inset -8px -10px 8px 0px rgba(66, 63, 63, 0.708),
        inset -8px -8px 2px 0px rgba(66, 64, 64, 0.674);
        
    transition: all 0.1s;
}

button:hover {
    box-shadow: inset -0px -0px 8px 0px rgba(66, 63, 63, 0.708),
        inset 0px 0px 0px 0px rgba(241, 236, 236, 0.674);

}

span {
    font-size: 0.8em;
    }
    
sup {
    font-size: 0.71em;
}

.sub-container .clear {
    background-color: rgb(255, 134, 134) !important;

}

.sub-container .clear:hover {
    background-color: rgb(255, 134, 134) !important;

}

.sub-container .symbols {
    background-color: rgb(241, 241, 241);
    padding: 20px;
    height: 100%;
    width: 100%;
    /* font-size: 20px; */
}

.sub-container .symbols:hover {
    background-color: rgb(227, 227, 227);

}

.sub-container .result-symbol {
    background-color: rgba(88, 169, 250);
}

.sub-container .result-symbol:hover {
    background-color: rgba(104, 169, 234, 0.774);
}

.sub-container .tignomantry {
    /* color: rgb(15, 78, 21); */
    background-color: rgba(116, 240, 128, 0.908);
}

.sub-container .tignomantry:hover {
    /* color: rgb(15, 78, 21); */
    background-color: rgba(116, 240, 128, 0.724);
}

.nubtn {
    background-color: rgba(255, 255, 255, 0.952);
    padding: 20px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    margin: 1px;
}

.nubtn:hover {
    background-color: rgba(227, 227, 227, 0.952);
    cursor: pointer;
}



@media only screen and (max-width:850px) {
    .container {
        width: 100%;
        margin: 0%;

    }

}

@media only screen and (max-width:350px) {
    .sub-container .nubtn {
        padding: 10px;
        font-size: 10px;

    }

    .output input {
        padding: 5px;
        font-size: 15px;
    }

    button {

        box-shadow: inset -6px -8px 4px 0px rgba(66, 63, 63, 0.708),
            inset -5px -5px 0px 0px rgba(66, 64, 64, 0.674);
            
    }
    .container {
        width: 100%;
        /* overflow: hidden; */
        margin: 0%;

    }

    .text h1 {
        font-size: 22px;
    }

}